@page "/bookings"
@using System
@using Car_Rental.Data.Interfaces
@using Car_Rental.Business;

@inject IData DataService

<PageTitle>Bookings</PageTitle>

<h1>Bookings</h1>

@if (DataService.GetBookings() == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Reg No</th>
                <th>Customer</th>
                <th>Km Rented</th>
                <th>Km Returned</th>
                <th>Rented</th>
                <th>Returned</th>
                <th>Cost</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in DataService.GetBookings())
            {
                <tr>
                    <td><b>@booking.RegNo</b></td>
                    <td>@booking.Customer</td>
                    <td>@booking.KmRented</td>
                    <td>@(booking.KmReturned != 0 ? booking.KmReturned.ToString() : "")</td>
                    <td>@booking.Rented.ToString("dd/MM/yyyy")</td>

                    <td>@(booking.Returned.HasValue ? booking.Returned.Value.ToString("dd/MM/yyyy") : "")</td>

                    <td>
                        @if (booking.Returned.HasValue)
                        {
                            var vehicle = DataService.GetVehicles().FirstOrDefault(v => v.RegNo == booking.RegNo);

                            if (vehicle != null)
                            {
                                @BookingProcessor.CalculateCost(booking, vehicle)
                            }
                        }
                    </td>

                    <td>
                        @if (booking.Returned.HasValue)
                        {
                            <span class="badge bg-danger">Closed</span>
                        }
                        else
                        {
                            <span class="badge bg-success">Open</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
