@page "/vehicles"

@using Car_Rental.Common.Interfaces
@using Car_Rental.Data.Interfaces
@using Car_Rental.Classes
@inject IData DataService

<PageTitle>Vehicles</PageTitle>

<h1>Cars</h1>

<div class="container text-center">
    <div class="row row-cols-4">
        @foreach (var vehicle in DataService.GetVehicles())
        {
            <div class="card" style="width: 18rem; margin: 1rem;">
                <img src="@vehicle.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@vehicle.Make</h5>
                    <p class="card-text">- @vehicle.Type -</p>
                    <br />
                    <p class="card-text">Price: $@vehicle.CostDay</p>
                    <p class="card-text">Odometer: @vehicle.Odometer</p>
                    <p class="card-text">Cost per Km: @vehicle.CostKm</p>
                    <p class="card-text">Cost per Day: @vehicle.CostDay</p>
                    <p class="card-text"><i><small>RegNo: @vehicle.RegNo</small></i></p>
                    @if (vehicle.Status)
                    {
                        <span class="badge bg-success">Available</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Booked</span>
                    }
                </div>
            </div>
        }
    </div>
</div>
